<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test name="TestRiaServeur2">
    <classes>
      <class name="fr.afcepf.al22.riaserveur2.test.TestRiaServeur2"/> 
    </classes>
  </test>
  <test name="NewTest">
    <classes>
      <class name="fr.afcepf.al22.riaserveur2.test.NewTest"/>
    </classes>
  </test>
</suite>
